.form-orden-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.555);
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-orden-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}