.container-products{
    width: 90%;
    margin:  5%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
    justify-items: center;
    gap: 30px;
    
    
}

.list-product{
    padding: 10px;
    min-width: 90px;
    max-width: 120px;
    border: 1px solid black;
}

.list-product picture img{
    width: 100%;
}