.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;

    background: rgb(112, 233, 167);
    height: 80px;
    width: 100%;
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
