.footer-container{
    position: absolute;
    bottom: -40px;
    left: 0;

    background: rgba(172, 255, 47, 0.521);
    height: 80px;
    width: 100%;
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}