.header{
    height: 500px;
    
    position: relative;
}


.header picture{
    position: relative;

}


.container-titulo{
    bottom: 40%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc((331/186.19)*31vw);
    width: 100%;
    
    text-align: center;
}

.container-titulo h1{
    padding: 5%;
    width: 100%;
    background: rgba(255, 255, 255, 0.705);
}